<main class="center aligned container">
  <h1 class="text-light text-center">Editing discussion</h1>

  <div class="container">
    <%= render "form", discussion: @discussion, post: @post %>
  </div>
  <div class="btn">
    <%= link_to "Back", post_path(@post), class:"btn btn-success" %>
  </div>
</main>
