<div class="container" style="color: white">
    <hr>
    <% if current_user == post.user %>
        <div class="btn-group float-end">
            <%= link_to 'Download',  file, download:'', class:"btn btn-warning" %>
            <%= button_to "Delete", purge_file_path(file), class:"btn btn-danger", method: :delete %>
        </div>
    <% end %>

    <% if file.variable? %>
        <%= image_tag(file,  width:"100px")%>
    <% else %>
        <%= file.blob.filename %>
    <% end %>
</div>