<div class="mx-auto md:w-2/3 w-full flex">
    <p><%= answer.body %><p>
    <%= link_to 'Edit this answer', edit_answer_path(@answer),class:"btn btn-warning" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this answer', answer_path(@answer), method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
</div>
