<main class="center aligned container">
  <h1 class="text-light text-center">Editing answer</h1>

  <div class="container">
    <%= render "form", answer: @answer, post: @post, discussion: @discussion %>
  </div>

  <div class="btn">
    <%= link_to "Back", post_path(@post), class:"btn btn-success" %>
  </div>
</main>
