<%= form_with(model: [post, task, subtask], class: "contents") do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :body, class:"form-control", aria_describedby:"button-addon2", required: true  %>
    <%= form.submit "New subtask", class: "btn btn-primary",id:"button-addon2" %>
  </div>
<% end %>
