<%= form_with(model: [post, post_user], class: "contents") do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field  :content, class:"form-control", aria_describedby:"button-addon2", required: true  %>
    <%= form.submit "Add email", class: "btn btn-primary",id:"button-addon2" %>
  </div>
<% end %>
