<div id="<%= dom_id post_user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= post_user.content %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show", post_user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_post_user_path(post_user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
