<h1 class="text-light text-center">New post</h1>
<div class="container">
  <%= render "form", post: @post %>
</div>
<br>


  <%= link_to "Back to posts", posts_path,class:"btn btn-danger not_but" %>

<style>
   .not_but{
    position: absolute;
    top: 260px;
    left: 30%;
  }
</style>

