<h1 class="text-light text-center">New post</h1>

<%= render "form", post: @post %>

<br>

<div style="position: fixed; left: 35%; bottom: 30%">
  <%= link_to "Back to posts", posts_path,class:"btn btn-danger" %>
</div>
