<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <%= link_to "BaseCamp", root_path, class: "navbar-brand text-white"%>
        </button>
        <div>
            <%= render "user/session_manager"%>
        </div>
    </div>
</nav>
<style rel="stylesheet">
     nav{
        border-radius: 0.5vw;
        background-filter: blur(1vw);
        background-color: rgba(2,2,3,0.5);
     }
</style>


